db/
incremental_db/
logic_analyser.asm.rpt
logic_analyser.done#
logic_analyser.eda.rpt
logic_analyser.fit.rpt
logic_analyser.fit.summary
logic_analyser.flow.rpt
logic_analyser.map.rpt
logic_analyser.map.smsg
logic_analyser.map.summary
logic_analyser.pin
logic_analyser.done
logic_analyser.pof
logic_analyser.rbf
logic_analyser.sof
logic_analyser.tan.rpt
logic_analyser.tan.summary
simulation/